@{
    ViewData["Title"] = "Pradinis puslapis";
}

    <div class="text-center">
        <div asp-validation-summary="All" class="text-danger list-unstyled"></div>
        <h1 class="display-4">Sveiki</h1>
        <p>Sėkmingai prisijungėte prie kandidatų priėmimo sistemos į Akademija.IT organizuojamus mokymo kursus.</p>
    </div>
