@model PRIS.WEB.ViewModels.TestViewModels.AddTestViewModel

@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_LayoutWithNavSectionForTestView.cshtml";
}


    <form method="post" class="form-horizontal" role="form">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <fieldset class="form-group">
            <label asp-for="DateOfTest"></label>
            <input asp-for="DateOfTest" class="form-control" />
            <span asp-validation-for="DateOfTest" class="text-danger"></span>
        </fieldset>

        <fieldset class="form-group">
            <select asp-for="CityName" asp-items="Model.Cities" class="form-control"></select>
            <span asp-validation-for="CityName" class="text-danger"></span>
        </fieldset>

        <input id="submitApplication" type="submit" value="Sukurti nauja testą" class="btn btn-primary" />

    </form>