@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Užklausa atmesta";
}

    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Jūs neturite prieigos prie šios informacijos.</p>
        @*<p class="text-danger">You do not have access to this resource.</p>*@
    </header>
