@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Elektroninis paštas patvirtintas";
}

<div class="row justify-content-center">
    <div class="col-4">
        <h4>@ViewData["Title"]</h4>
        <a class="btn btn-sm btn-outline-dark justify-content-center" role="button" id="login" asp-page="./Login">Prisijungti</a>
    </div>
</div>
 