@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Slaptažodžio atnaujinimo patvirtinimui jums išsiuntėme elektroninį laišką. 
</p>
@*<p>
    Please check your email to reset your password.
</p>*@

