@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Jūsų slaptažodis sėkmingai pakeistas. Norėdami prisijungti <a asp-page="./Login">spauskite čia</a>.
</p>
