@page
@model PersonalDataModel
@{
    //ViewData["Title"] = "Asmeninė informacija";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Jūsų paskyroje saugoma jūsų suvesta asmeninė informacija. Šiame puslapyje galite atsisiųsti arba ištrinti šią informaciją.</p>
        @*<p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>*@
        <p>
            <strong>Ištrindami šiuos duomenis jūs visam laikui panaikinsite šią paskyrą, be galimybės ją atstatyti.</strong>
            @*<strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>*@
        </p>
        <div class="row">
            <form class="col-3" id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                <button class="btn btn-outline-dark" type="submit">Atsiųsti</button>
            </form>
            <p class="col-3">
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-outline-dark">Ištrinti</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}