
@model PRIS.WEB.Models.City;

@{
    ViewData["Title"] = "CityDelete";
    Layout = "~/Views/Shared/_LayoutNavSectionForSettings.cshtml";
}

    <h6 class="text-danger">@ViewData["ErrorMessage"]</h6>
    <p><a asp-action="City">Grįžti į miestų sąrašą</a></p>
