@model PRIS.WEB.Models.City

@{
    ViewData["Title"] = "City";
}



<div class="row justify-content-center">
    <div class="col-md-4">
        <h5>Miestai, kuriuose vykdomos Akademija.IT mokymo programos</h5>
        <section>
            <form id="" method="">
                <div class="form-group">
                    <label for="name">Naujas miestas</label>
                    <input for="name" class="form-control" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark">Pridėti</button>
                </div>

                <table class="table">
                    <tr>
                        <th scope="col">Pažymėti</th>
                        <th>Miestas</th>
                    </tr>
                    <tr>
                        <td scope="col"><input type="checkbox" name="name" value="" /></td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-outline-dark">Trinti pažymėtus</button>
            </form>
        </section>
    </div>
</div>