@model PRIS.WEB.Models.City;

@{
    ViewData["Title"] = "CityModalPartial";
    Layout = "~/Views/Shared/_LayoutWithNavSectionForTestView.cshtml";
}


    <form asp-controller="Settings" asp-action="CityModalPartial" method="post">
        <div class="form-group">
            <label asp-for="CityName">Naujas miestas</label>
            <input asp-for="CityName" class="form-control" />
            <span asp-validation-for="CityName"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-dark" value="Prideti nauja miesta">Pridėti</button>
        </div>
    </form>





@* Pop-up langas duomenu ivedimui. Naudojimui atkomentuoti ir JS failiuka. *@
@*<div class="modal fade" id="addCity">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addCityLabel">Pridėkite naują miestą</h4>
                <button type="button" class="close btn btn-outline-dark" data-dismiss="modal"></button>
                <span>x</span>
            </div>
            <div class="modal-body">
                <form action="Create" method="post">
                    <div class="form-group">
                        <label asp-for="CityName">Miesto pavadinimas</label>
                        <input asp-for="CityName" class="form-control" />
                        <span asp-validation-for="CityName" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Uždaryti</button>
                <button type="submit" class="btn btn-outline-dark" data-save="modal" value="Prideti nauja miesta">Saugoti</button>
            </div>
        </div>

    </div>

</div>*@