@model IEnumerable<PRIS.WEB.ViewModels.InterviewTaskViewModel.AddInterviewTaskViewModel>

@{
    ViewData["Title"] = "InterviewTaskList";
    ViewData["ActivePage"] = PRIS.WEB.Views.Shared.ManageCollumnNavPages.InterviewTaskList;
    Layout = "~/Views/Shared/_LayoutNavSectionForSettings.cshtml";
}

<h5>Akademija.IT Klausimynas pokalbiui</h5>
<hr />
<br />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-8">
        <p>
            <a asp-action="InterviewTaskCreate" class="btn btn-outline-dark" role="button">Sukurti</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Sukurti klausimynai pagal datą
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date) metų pokalbio klausimynas
                        </td>
                        @*<td>
                                <a asp-action="InterviewTaskDelete" asp-route-id="@item.InterviewTaskID" class="btn btn-sm btn-outline-danger" role="button">Trinti</a>
                            </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>