@*@model IEnumerable<PRIS.WEB.ViewModels.InterviewTaskViewModel.AddInterviewTaskViewModel>*@
@model PRIS.WEB.ViewModels.InterviewTaskViewModel.AddInterviewTaskViewModel

@{
    ViewData["Title"] = "InterviewTaskList";
    ViewData["ActivePage"] = PRIS.WEB.Views.Shared.ManageCollumnNavPages.InterviewTask;
    Layout = "~/Views/Shared/_LayoutNavSectionForSettings.cshtml";
}

<h5>Akademija.IT mokymo programos</h5>
<hr />
<br />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-6">
        <p>
            <a asp-action="InterviewTaskCreate" class="btn btn-outline-dark" role="button">Sukurti</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Užduočių grupė
                    </th>
                    <th>
                        Pokalbio klausimas
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TaskGroupName)
                {
                    <tr>
                        <td>
                            <select>
                                @Model.TaskGroupName
                            </select>
                            @*<fieldset class="form-group">
                                <label asp-for="TaskGroupName">Užduočių grupė</label>
                                <select asp-for="TaskGroupName" asp-items="Model.TaskGroups" class="form-control"></select>
                                <span asp-validation-for="TaskGroupName" class="text-danger"></span>
                                </fieldset>*@
                        </td>
                        <td>
                            <input @Model.InterviewTaskDescription/>
                            @*<fieldset class="form-group">
                                    <label asp-for="InterviewTaskDescription"></label>
                                    <input asp-for="InterviewTaskDescription" class="form-control" />
                                    <span asp-validation-for="InterviewTaskDescription" class="text-danger"></span>
                                </fieldset>*@
                        </td>
                        <td>
                            @*<input id="submitApplication" type="submit" value="Sukurti" class="btn btn-outline-dark" />*@
                            <a asp-action="InterviewTaskDelete" value="@item" asp-for="InterviewTaskID" class="btn btn-sm btn-outline-danger" role="button">Trinti</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>