@model IEnumerable<PRIS.WEB.Models.Module>

@{
    ViewData["Title"] = "Module";
    ViewData["ActivePage"] = PRIS.WEB.Views.Shared.ManageCollumnNavPages.Module;
    Layout = "~/Views/Shared/_LayoutNavSectionForSettings.cshtml";
}

<h5>Akademija.IT mokymo programos</h5>
<hr />
<br />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-6">
        <p>
            <a asp-action="ModuleCreate" class="btn btn-outline-dark" role="button">Sukurti</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Mokymo programa
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModuleName)
                        </td>
                        <td>
                            <a asp-action="ModuleDelete" asp-route-id="@item.ModuleID" class="btn btn-sm btn-outline-danger" role="button">Trinti</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
