@model IEnumerable<PRIS.WEB.Models.Module>

@{
    ViewData["Title"] = "Module";
    Layout = "~/Views/Shared/_LayoutNavSectionForSettings.cshtml";
}

<p>
    <a asp-action="ModuleCreate">Sukurti</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            <th scope="col">Mokymo programa</th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleName)
                </td>
                <td>
                    <a asp-action="ModuleDelete" asp-route-id="@item.ModuleID">Trinti</a>
                </td>
            </tr>
        }
    </tbody>
</table>