@model PRIS.WEB.Models.Module

@{
    ViewData["Title"] = "ModuleDelete";
    Layout = "~/Views/Shared/_LayoutNavSectionForSettings.cshtml";
}

<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h5>Ar tikrai norite ištrinti šį įrašą?</h5>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="ModuleName" class="control-label">Mokymo programa</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModuleName)
        </dd>
    </dl>

    <form asp-action="ModuleDelete">
        <input type="submit" value="Pašalinti" class="btn btn-danger" /> |
        <a asp-action="Module">Grįžti į sąrašą</a>
    </form>
</div>