@model PRIS.WEB.Models.ResultLimits 

@{
    ViewData["Title"] = "ResultLimits_Create";
    Layout = "~/Views/Shared/_LayoutNavSectionForSettings.cshtml";
}

<h4>Redaguoti testo užduočių balų rėžius</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Settings" asp-action="ResultLimits_Create">
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ResultLimitsId" class="control-label">Užduoties Nr.</label>
                    <span asp-validation-for="ResultLimitsId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Task1" class="control-label">1</label>
                    <input asp-for="Task1" class="form-control" />
                    <span asp-validation-for="Task1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Task2" class="control-label">2</label>
                    <input asp-for="Task2" class="form-control" />
                    <span asp-validation-for="Task2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Task3" class="control-label">3</label>
                    <input asp-for="Task3" class="form-control" />
                    <span asp-validation-for="Task3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Task4" class="control-label">4</label>
                    <input asp-for="Task4" class="form-control" />
                    <span asp-validation-for="Task4" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Task5" class="control-label">5</label>
                    <input asp-for="Task5" class="form-control" />
                    <span asp-validation-for="Task5" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Task6" class="control-label">6</label>
                    <input asp-for="Task6" class="form-control" />
                    <span asp-validation-for="Task6" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Task7" class="control-label">7</label>
                    <input asp-for="Task7" class="form-control" />
                    <span asp-validation-for="Task7" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Task8" class="control-label">8</label>
                    <input asp-for="Task8" class="form-control" />
                    <span asp-validation-for="Task8" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Task9" class="control-label">9</label>
                    <input asp-for="Task9" class="form-control" />
                    <span asp-validation-for="Task9" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Task10" class="control-label">10</label>
                    <input asp-for="Task10" class="form-control" />
                    <span asp-validation-for="Task10" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" value="Create" class="btn btn-outline-dark">Išsaugoti</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ResultLimits_View">Atgal į sąrašą</a>
</div>

