@model PRIS.WEB.ViewModels.ResultLimitViewModel.TestResultLimitViewModel

@{
    ViewData["Title"] = "ResultLimitsCreate";
    ViewData["ActivePage"] = PRIS.WEB.Views.Shared.ManageCollumnNavPages.ResultLimitsView;
    Layout = "~/Views/Shared/_LayoutNavSectionForSettings.cshtml";
}

<h5>Redaguoti testo užduočių maksimalių balų rėžius</h5>
<hr />
<br />
<div class="row">
    <div>
        <form class="form" asp-controller="Settings" asp-action="ResultLimitsCreate">
            <div class="form-row mx-0">
                <div asp-validation-summary="All" class="text-danger"></div>
                <br />
                <div class="form-group">
                    <label class="control-label">Nustatykite užduoties balų rėžius įvesties langeliuose ties kiekvienos užduoties numeriu.</label>
                    <br />
                    <span class="text-danger"></span>
                </div>
                <div class="row">

                    @for (int i = 0; i < Model.MaxValue.Count; i++)
                    {
                        <div class="form-group col-2">
                            <label asp-for="Position" class="control-label">Nr. @(i+1) </label>
                            <input asp-for="MaxValue[i]" class="form-control" type="number" />
                            <span asp-validation-for="@Model.MaxValue[i]" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="TaskGroupName" class="control-label">Užduočių grupė</label>
                            <select asp-for="@Model.TaskGroupName[i]" class="form-control" value="TaskGroupName" asp-items="@Model.TaskGroups"></select>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-outline-dark">Išsaugoti</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/validationlocalization.js"></script>
}

