@model IEnumerable<PRIS.WEB.ViewModels.ResultLimitViewModel.TestResultLimitViewModel>

@{
    ViewData["Title"] = "ResultLimitsView";
    ViewData["ActivePage"] = PRIS.WEB.Views.Shared.ManageCollumnNavPages.ResultLimitsView;
    Layout = "~/Views/Shared/_LayoutNavSectionForSettings.cshtml";
}

<h5>Čia galite redaguoti testo užduočių balų rėžius</h5>
<hr />
<br />

<p>
    <a asp-action="ResultLimitsCreate" class="btn btn-outline-dark" role="button">Pridėti balų rėžius</a>
</p>

<table class="table table-bordered table-responsive-lg">
    <thead>
        <tr>
            <th rowspan="1" colspan="3" class="text-center">Kompiuterinių sistemų pagrindai</th>
            <th rowspan="1" colspan="3" class="text-center">Logikos pagrindai</th>
            <th rowspan="1" colspan="4" class="text-center">Programavimo pagrindai</th>
            <th rowspan="3" colspan="1" class="text-center">Bendras testo balas</th>
            <th rowspan="3" colspan="1" class="text-center">Pridėjimo data</th>
        </tr>
        <tr>
            <th rowspan="1" colspan="10" class="text-center">
                Užduoties nr.
            </th>
        </tr>
        <tr>
            @for (int i = 1; i < 11; i++)
            {
            <th>
                @(i)
            </th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
            {
        <tr>
            @for (int i = 0; i < 10; i++)
                {
            <td>
                @Html.DisplayFor(modelItem => item.MaxValue[i])
            </td>
                }
            <td>
                @Html.DisplayFor(modelItem => item.LimitSumMax)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
            }


    </tbody>
</table>
