@model IEnumerable<PRIS.WEB.ViewModels.ResultLimitViewModel.TestResultLimitViewModel>

@{
    ViewData["Title"] = "ResultLimits_View";
    ViewData["ActivePage"] = PRIS.WEB.Views.Shared.ManageCollumnNavPages.ResultLimits_View;
    Layout = "~/Views/Shared/_LayoutNavSectionForSettings.cshtml";
}

<h5>Čia galite redaguoti testo užduočių balų rėžius</h5>
<hr />
<br />

<p>
    <a asp-action="ResultLimits_Create" class="btn btn-outline-dark" role="button">Pridėti balų rėžius</a>
</p>

<table class="table table-bordered table-responsive-lg">
    <thead>
        <tr>
                <th rowspan="1" colspan="1"></th>
                <th rowspan="1" colspan="3" class="text-center">Kompiuterinių sistemų pagrindai</th>
                <th rowspan="1" colspan="3" class="text-center">Logikos pagrindai</th>
                <th rowspan="1" colspan="4" class="text-center">Programavimo pagrindai</th> 
                <th rowspan="1" colspan="1"></th>
                <th rowspan="1" colspan="1"></th>
        </tr>
        <tr>
            <th class="text-center">
                Užduoties nr.
            </th>
            
            @foreach (var item in Model)
            {
                <th>
                    @item.Position
                </th>
            }


            <th class="text-center">Bendras testo balas</th>
            <th class="text-center">Pridėjimo data</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td></td>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LimitSumMax)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            }
        </tr>

    </tbody>
</table>
