
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h4>Čia galite modifikuoti priėmimo sistemos nustatymus</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a class="nav-link" asp-controller="Settings" asp-action="City">Miestai</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Settings" asp-action="Module">Mokymo programos</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Settings" asp-action="TestResultSettings">Testo balų nustatymai</a></li>
                </ul>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
