@model PRIS.WEB.ViewModels.TaskResultViewModel
@{
    ViewData["Title"] = "AddTaskResult";
    Layout = "~/Views/Shared/_LayoutWithNavSectionForCandidateView.cshtml";
}

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" class="form-horizontal" role="form">

    @foreach (var item in Model.Value)
    {
        <fieldset class="form-group">
            <label asp-for="Value"></label>
            <input value=@item asp-for="Value" type="number" class="form-control" min="0" max="18" step="0.5"/>
            @*<span asp-validation-for="Value" class="text-danger"></span>*@
        </fieldset>
    }
    <input id="submitApplication" type="submit" value="Sukurti" class="btn btn-outline-dark" />
</form>