@model PRIS.WEB.ViewModels.TaskResultViewModel
@{
    ViewData["Title"] = "AddTaskResult";
    Layout = "~/Views/Shared/_LayoutWithNavSectionForCandidateView.cshtml";
}

<div asp-validation-summary="All" class="text-danger"></div>

@Model.Candidate.FirstName
@Model.Candidate.LastName
testo balo suvedimas

<form method="post" class="form-horizontal" role="form">


    @{int positionOfTask = 1;}

    @foreach (var item in Model.Value)
    {
        <fieldset class="form-group">
            <label asp-for="Value">Testo užduotis: @positionOfTask</label>
            <input value=@item asp-for="Value" type="number" class="form-control" min="0" max="18" step="0.5" />
            <span asp-validation-for="Value" class="text-danger"></span>
        </fieldset>

        positionOfTask++;
    }
    <input id="submitApplication" type="submit" value="Sukurti" class="btn btn-outline-dark" />
</form>