@model PRIS.WEB.ViewModels.TaskResultViewModel
@{
    ViewData["Title"] = "AddTaskResult";
    Layout = "~/Views/Shared/_LayoutWithNavSectionForCandidateView.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="post" class="form-horizontal" role="form">

    @foreach (var item in Model.Value)
    {
        <fieldset class="form-group">
            <label asp-for="Value"></label>
            <input asp-for="Value" class="form-control" />
            <span asp-validation-for="Value" class="text-danger"></span>
        </fieldset>
    }
    <input id="submitApplication" type="submit" value="Sukurti" class="btn btn-outline-dark" />
</form>