@model PRIS.WEB.ViewModels.CandidateViewModels.AddCandidateViewModel

@{
    ViewData["Title"] = "Naujas kandidatas";
    Layout = "~/Views/Shared/_LayoutWithNavSectionForCandidateView.cshtml";
}


    <form method="post" class="form-horizontal" role="form">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <fieldset class="form-group">
            <label asp-for="Firstname"></label>
            <input asp-for="Firstname" class="form-control" />
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </fieldset>

        <fieldset class="form-group">
            <label asp-for="Lastname"></label>
            <input asp-for="Lastname" class="form-control" />
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </fieldset>

        <fieldset class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </fieldset>

        <fieldset class="form-group">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </fieldset>

        <fieldset class="form-group">
            <label asp-for="Gender"></label>
            <br />
            <input type="radio" id="male" asp-for="Gender" value="Vyras">
            <label>Vyras</label><br>
            <input type="radio" id="female" asp-for="Gender" value="Moteris">
            <label for="female">Moteris</label><br>
        </fieldset>

        <fieldset class="form-group">
            <label asp-for="TestId"></label>
            <select asp-for="TestId" asp-items="Model.Tests" class="form-control"></select>
            <span asp-validation-for="TestId" class="text-danger"></span>
        </fieldset>

        <fieldset class="form-group">
            <label asp-for="SelectedModuleIds"></label>
            <br />
            @for (int i = 0; i < Model.SelectedModuleIds.Length; i++)
            {
                <label>@(i+1)</label>
                <select asp-for="@Model.SelectedModuleIds[i]" asp-items="@Model.Modules" class="form-control"></select>
            }
        </fieldset>

        <fieldset class="form-group">
            <label asp-for="Comment"></label>
            <textarea asp-for="Comment"></textarea>
        </fieldset>

        <input id="submitApplication" type="submit" value="Sukurti nauja kandidatą" class="btn btn-outline-dark" />

    </form>